.homepage-img {
  width: 100%;
  height: 50%;
  position: relative;
}

.image-container {
  position: relative;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.5);
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.top-left {
  position: absolute;
  bottom: 900px;
  left: 16px;
  color: white;
  text-align: center;
  font-size: 50px;
  margin-left: 350px;
  letter-spacing: 2px;
  
}
.hrz {
  color: red;
  position: absolute;
  bottom: 8px;
}
.logo {
  position: absolute;
  top: 8px;
  left: 16px;
  color: #ff5f1f;
  width: 150px;
  height: 150px;
}
.btn {
  position: absolute;
  left: 70px;
  bottom: 850px;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #ff5f1f;
  background-color: #ff5f1f;
  margin-left: 570px;
}
.btn:hover {
  background-color: aliceblue;
  color: #ff5f1f;
  border: 2px solid aliceblue;
}
.span {
  color: #ff5f1f;
}
.donate {
  position: relative;
  padding: 20px;
  width: 150px;
  background-color: green;
  top: -1050px;
  font-size: 20px;
  font-weight: 300;
  margin-left: 88%;
  opacity: 0.7;
  border-radius: 40px;
  right: 30px;
  border: 1px solid #ff5f1f;
  background-color: #ff5f1f;
}

.containers {
  max-width: 800px;
  margin: -2px auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 1020px;
  width: 300px;
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #ff5f1f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #e65100;
}
#iframe {
  width: 70%;
  position: absolute;
  /* opacity: 0.30; */
  height: 80%;
}
.boxes {
  display: flex;
}
.address-box {
  height: 300px;
  width: 800px;
  /* background-color: #e65100; */
  margin-top: -250px;
  /* opacity: 0.55; */
  margin-left: 100px;
}
h3{
  color:violet;
}
.work{
  background-color:white;
  border-radius:25px;
  margin:20px
}

.work .shilpa{
  height:50%;
  width:100%;
border-radius: 25px 25px 0px 0px;
}
.work-container{                                                                            
  display:flex;
  gap:20px
}
.work-child{
  padding: 20px;
}
.img2{
height:100%;
width:70%;
border-radius: 0px 5px 5px 0px;
}
h2{

  color:blueviolet;
}
.box1{
  border-radius: 5px;
  margin: 0;
  height: 30%;
  display:flex;
  align-items: center;
}
.img3{

  height:50%;
  width:50%;
}
.roadmap-box{
  width:50%;
}
.roadmap-text{
  width:50%;
  background-color:white;
}
.timeline {
  border-left: 1px solid black;
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color:black;
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

.timeline-box{
  background-color: white;
  margin: 20px 50px;
}

body{
  background-color: #e3d9bf;
}
.container{
  /* padding-left: 40px; */


}
.about-text{
  padding: 20px 70px 20px 70px;
  background-color: blueviolet;
}
.box3-text{
padding-left: 50px;
}
.box2{
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 30px 10px;
}
.colors1{
  font-size: 31px;
  padding: 15px 5px;
}

.redcolor{
  color: red;
}



.work{
  border-radius: 5px;
  padding:20px;
  margin:60px 60px 0px 0px;
  background-color: white;


}
.container1{
  display:flex;
gap:20px

}
.flex{
  display: flex;
  gap: 50px;
  width:106%;
  background-color: white;
  margin-left: -65px;
}
.col-sm box2{
  padding: 30px;
}